version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: productdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"

  productcatalog.api:
    build:
      context: .
      dockerfile: ProductCatalog.Api/Dockerfile
    container_name: product_api
    depends_on:
      - mysql
    environment:
      ConnectionStrings__Default: "server=mysql;database=productdb;user=user;password=password;"
      ASPNETCORE_ENVIRONMENT: "Development"
    ports:
      - "8080:8080"
